go 1.25.4

use (
	./api-gateway
	./cart-service
	./gen
	./notification-service
	./order-service
	./payment-service
	./product-service
	./search-service
	./shared
	./tools/health-checker
	./user-service
)
